body {
	background-color: black;
}
p {
	color:#1111FC;

}
a {
	color:#1111FC;
}
nav {
	color: white;
	text-align: center;
	padding: 20px;
}
li {
	color:#1111FC;
}

img {
	max-width: 48%;
	height: auto;
}